<h1>Crie o seu perfil</h1>

<% if @profile.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>

<%= simple_form_for @profile do |f| %>
  <div class="card p-4 shadow-sm rounded-4">
    <%= f.input :username, label: "Nome de usuário" %>
    <%= f.input :description, as: :text, label: "Descrição" %>
    <%= f.input :location, as: :text, label: "Cidade" %>
    <%= f.input :interests, label: "Interesses" %>
    <%= f.input :photo, as: :file, label: "Foto de perfil" %>

    <div class="mt-3">
      <%= f.button :submit, "Salvar perfil", class: "btn btn-primary w-100" %>
    </div>
  </div>
<% end %>
