<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 text-center">
  <div class= "home" style="max-width: 400px">
    <h1 class="display-4 fw-bold mb-2">connecta</h1>

    <% if user_signed_in? %>
      <p class="mb-4">Bem vinda de volta!</p>
      <%= link_to "Ver meu perfil", profile_path, class: "btn btn-outline-dark w-100 mb-2" %>
      <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-secondary w-100" %>
    <% else %>
      <p class="lead mb-3">Nunca mais deixe de viver algo incrível por falta de companhia.</p>
      <p class="text-muted small mb-4">Disponível em: Rio de Janeiro, São Paulo e Belo Horizonte</p>
      <%= link_to "Criar conta", new_user_registration_path, class: "btn btn-outline-dark w-100 mb-2" %>
      <%= link_to "Entrar", new_user_session_path, class: "btn btn-outline-dark w-100 mb-4" %>
      <%= link_to "Tem interesse em outras cidades?", new_city_interest_path, class: "text-muted small d-block mb-2" %>
      <%= link_to "Saiba mais sobre o connecta", about_path, class: "text-muted small" %>
    <% end %>
  </div>
</div>
